---
import TagList from "@components/TagList.astro";
import { getPostsWithMatters } from "@utils/post";
import type { CollectionEntry } from "astro:content";

type Props = { posts: CollectionEntry<"post">[] };

const { posts } = Astro.props;

const postWithMatter = await getPostsWithMatters(posts);
---

<div class="flex flex-col gap-10">
  {
    postWithMatter.map((post) => (
      <div>
        <div class="mb-2 flex gap-2 flex-wrap flex-col sm:flex-row sm:items-center">
          <span class="text-sm text-primary font-bold shrink-0">
            {post.data.date}
          </span>
          <span class="hidden sm:block">|</span>
          <div class="flex items-center gap-2 flex-wrap">
            {post.data.tags && (
              <div class="inline-block">
                <TagList tags={post.data.tags || []} />
              </div>
            )}
            <span>|</span>
            <span class="text-sm text-secondary font-bold shrink-0">
              {Math.floor(post.frontMatter.minutesRead)}분
            </span>
          </div>
        </div>
        <a href={`/posts/${post.slug}`}>
          <div class="card w-full bg-base-100">
            {post.data.banner && (
              <figure>
                <img
                  class="w-full max-h-60 object-cover mb-2"
                  src={post.data.banner}
                  alt={post.data.title}
                />
              </figure>
            )}
            <div class="card-body p-0">
              <h2 class="card-title">{post.data.title}</h2>
              {post.frontMatter?.excerpt && <p>{post.frontMatter.excerpt}</p>}
            </div>
          </div>
        </a>
      </div>
    ))
  }
</div>
