---
import Header from "@/components/Header";
import { Algolia } from "@constants/config";
import "@/styles/base.css";
import DocSearch from "@components/DocSearch";

type Props = {
  title?: string;
  keywords?: string;
  description?: string;
  url?: string;
};

const {
  title = "Godsenal",
  keywords,
  description = `Godsenal's blog`,
  url,
  article,
  image,
} = Astro.props;
---

<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {
      [32, 48, 64, 72, 96, 128, 144, 152, 192, 384, 512].map((size) => (
        <link
          rel="icon"
          type="image/png"
          sizes={`${size}x${size}`}
          href={`/favicon-${size}x${size}.png`}
        />
      ))
    }
    <title>{title}</title>
    <meta name="description" content={description} />
    {keywords && <meta name="keywords" content={keywords} />}
    {url && <meta property="og:url" content={url} />}
    {(article ? true : null) && <meta property="og:type" content="article" />}
    {title && <meta property="og:title" content={title} />}
    {description && <meta property="og:description" content={description} />}
    {image && <meta property="og:image" content={image} />}
    <meta name="twitter:card" content="summary_large_image" />
    {title && <meta name="twitter:title" content={title} />}
    {description && <meta name="twitter:description" content={description} />}
    {image && <meta name="twitter:image" content={image} />}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&family=Noto+Sans+KR:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@docsearch/css@3"
    />
    <link
      rel="preconnect"
      href={`https://${Algolia.appId}-dsn.algolia.net`}
      crossorigin
    />
  </head>

  <body>
    <Header client:visible />
    <DocSearch client:only="react" />
    <div class="max-w-screen-sm sm:mx-auto mx-5">
      <article class="py-5">
        <slot />
      </article>
    </div>
  </body>
</html>

<script is:inline>
  const theme = (() => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme") || "dark";
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }
    return "light";
  })();
  const isDarkTheme = theme === "dark";

  document.documentElement.setAttribute(
    "data-theme",
    isDarkTheme ? "dark" : "light"
  );
  isDarkTheme &&
    document.querySelector(".theme-switch").classList.add("swap-active");

  window.localStorage.setItem("theme", theme);
</script>
